@media (min-width: 481px) {
  .chat-bot-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 769px) {
  .chat-bot-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (min-width: 1024px) {
  .chat-bot-container {
    padding-left: 30%;
    padding-right: 30%;
  }
}
